/* // Устройства Large (769-992 пикселей) */
@media (max-width: 992px) { 
    .products__items {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px 77px;
    }
    html,body {
        overflow-x: hidden;
    }
 }